.chevron {
    margin-top: 3rem;
    font-size: 3rem !important;
    color: rgba(white, .6);
}

.hero-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25rem;
    width: 20rem;
    margin: auto;
    cursor: pointer;
    padding-bottom: 1rem;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: unset;
    font-size: 2rem;

    @include respond(tab-port) {
        // width < 900?
        bottom: 35rem;
    }

    @include respond(phone) {
        // width < 600?
        bottom: 2rem;
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*Animating Chevron icon at home page: https://codepen.io/dodozhang21/pen/siKtp */
@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}