@import '../abstracts/_variables.scss';

.about {
  animation: loading-about-bottom 2000ms ease-out;
  position: absolute;
  bottom: 0;
  width: 97vw;
  filter: blur();
  padding: 5rem 15rem 5rem 15rem;

  @include respond(tab-port) {
    // width < 900?
    padding: 0rem 10rem 8rem 10rem;
  }

  @media (max-width: 75rem) {
    padding: 0rem 10rem 3rem 10rem;
  }

  @include respond(phone) {
    // width < 600?
    // background-color: rgba($color-blue-primary-1, .4);
    position: relative;
    width: 100vw;
    animation: none;
    padding: 2rem 1rem 0rem 1rem
  }

  &__main {
    @include clearfix;
    @include transform(0%, 5%);
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-align-last: center;
    padding-left: 10rem;
    padding-right: 7rem;

    @include respond(phone) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  &__aboutme-text {
    @include transform(0%, 20%);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    padding: 0rem 4rem 1rem 4rem;
    font-size: 1.6rem;
    color: $color-blue-primary-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }
}