@import '../abstracts/_variables.scss';

.recommendations {
  width: 100%;
  height: 100%;

  .card__container {}

  @include background;
  // min-height: 95vh;
  // position: relative;
  // background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  // padding-top: 50px;
  // padding-bottom: 50px;
  // background-position: center;
  // background-size: cover;

  &__container {
    text-align: center;
    color: #F2EFE8;
    margin: 8rem 6rem;
    padding: 4rem;
    border-radius: 3rem;
    position: relative;
    z-index: 1;
    text-align: -webkit-center !important;

    @include respond(phone) {
      margin: 5rem 4rem;
      padding: 3rem 2rem;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-white, .7);
      border-radius: 10%;
      z-index: -1;
    }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba($color-blue-primary-1, .9);
    //   border-radius: 30px;
    //   transform: rotate(-7deg);
    //   z-index: -2;
    // }
    &-body {
      height: 60vh;
      overflow: overlay;
      letter-spacing: .1rem;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    .fa-quote {
      color: rgba(255, 255, 255, 0.3);
      font-size: 5rem;
      position: absolute;
      top: 70px;

      &-right {
        left: 6rem;
      }

      &-left {
        right: 6rem;
      }

      @include respond(phone) {
        &-right {
          left: 3rem;
        }

        &-left {
          right: 3rem;
        }
      }
    }

    .pic {
      border: 5px solid #F2EFE8;
      display: inline-block;
      margin-bottom: 1rem;
      width: 12rem;
      height: 12rem;
      border-radius: 70%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 70%;
        box-shadow: 0px 5px 50px 0px rgba($color-white, .9), 0px 0px 10px 7px rgba($color-blue-primary-6, 1);
      }
    }

    &-footer {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
      text-transform: capitalize;

      &__sub {
        text-transform: capitalize;
        display: flex;
        gap: 1rem;

        @include respond(phone) {
          flex-direction: column;
          gap: 0;
        }
      }

      .linkedin-profile {
        width: min-content;
        left: 50%;
        /* position: absolute; */
        background: transparent;
      }
    }

    .pdf img {
      height: 3rem !important;
    }

    .linkedin-icon {
      &:hover {
        outline: none;
        animation: pulsate 1s infinite;
      }

      &:focus {
        outline: none;
        animation: pulsate 1s infinite;
      }
    }

    .linkedin-source {
      text-decoration: underline;

      &:hover {
        color: rgba($color-blue-primary-6, .4);
      }
    }
  }

  .hight-no-content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}