@mixin transform($x, $y) {
  transform: translate($x, $y);
}

@mixin border-radius($px1, $px2, $px3, $px4) {
  border-radius: $px1 $px2 $px3 $px4;
}

@mixin hover($color, $icon) {
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: $color;

    #{$icon} {
      fill: $color-white;
    }
  }

  &:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
}

@mixin tamplate($size, $font-family, $line-height, $color) {
  font-size: $size;
  font-family: $font-family;
  line-height: $line-height;
  color: $color;
}

@mixin background {
      background: -webkit-gradient(linear, left top, left bottom,
            color-stop(0%, rgba($color-blue-primary-2, 1)),
            color-stop(5%, rgba($color-blue-primary-2, .6)),
            color-stop(14%, rgba($color-blue-primary-2, .4)),
            color-stop(80%, rgba($color-blue-primary-2, .6)),
            color-stop(100%, rgba($color-blue-primary-2, 1)));
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint ==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }

    //600px
  }

  @if $breakpoint ==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }

    //900px
  }

  @if $breakpoint ==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }

    //1200px
  }

  @if $breakpoint ==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }

    //1800
  }
}